@font-face {
  font-family: "iconfont"; /* Project id 3173326 */
  src: url('iconfont.woff2?t=1651716865875') format('woff2'),
       url('iconfont.woff?t=1651716865875') format('woff'),
       url('iconfont.ttf?t=1651716865875') format('truetype'),
       url('iconfont.svg?t=1651716865875#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-canshu:before {
  content: "\e615";
}

.icon-peizhi:before {
  content: "\e617";
}

.icon-yonghu:before {
  content: "\e63d";
}

.icon-xinnengyuan:before {
  content: "\e60c";
}

.icon-liucheng:before {
  content: "\e6d3";
}

.icon-gongzuoliuchengtu:before {
  content: "\e603";
}

.icon-jiankongshexiangtou:before {
  content: "\e900";
}

.icon-nengyuanwuliujituan:before {
  content: "\e645";
}

.icon-shengchanshebei:before {
  content: "\e614";
}

.icon-nengyuanguanli:before {
  content: "\e693";
}

.icon-bianma:before {
  content: "\e610";
}

.icon-chanpinshuju:before {
  content: "\e6e3";
}

.icon-fuliao1:before {
  content: "\e63c";
}

.icon-RectangleCopy:before {
  content: "\e6de";
}

.icon-bianmashengchengqix:before {
  content: "\e621";
}

.icon-wuliuchanpin:before {
  content: "\e7c7";
}

.icon-yuanliaocangbaocaishangjia:before {
  content: "\e601";
}

.icon-fuliaocang:before {
  content: "\e694";
}

.icon-dazongwuziyuanliaoyanshou:before {
  content: "\e609";
}

.icon-fuliao2:before {
  content: "\e613";
}

.icon-a-06-chanpinshuju:before {
  content: "\e606";
}

.icon-shujuzidian:before {
  content: "\e666";
}

.icon-fenlei:before {
  content: "\e71b";
}

.icon-zhilingguanli:before {
  content: "\e7b9";
}

.icon-yewuniandu:before {
  content: "\e651";
}

.icon-zhibiao:before {
  content: "\e638";
}

.icon-zhiliang-xianxing:before {
  content: "\e88b";
}

.icon-zhihuitiaodu:before {
  content: "\e612";
}

.icon-qushi:before {
  content: "\e608";
}

.icon-zhibiao1:before {
  content: "\e73c";
}

.icon-niandukaohe:before {
  content: "\e6f9";
}

.icon-wuliaocaigou:before {
  content: "\e616";
}

.icon-yue:before {
  content: "\e650";
}

.icon-fabu:before {
  content: "\e602";
}

.icon-yuanshichaxun:before {
  content: "\e630";
}

.icon-kucunpandian-:before {
  content: "\e646";
}

.icon-kucunpandian:before {
  content: "\e673";
}

.icon-baojingxinxi:before {
  content: "\e624";
}

.icon-zhiliangguanlixitong:before {
  content: "\e62d";
}

.icon-zhiliangpingjiaxitong:before {
  content: "\e62e";
}

.icon-tubiao_shengchantongji:before {
  content: "\e63b";
}

.icon-tiaozheng:before {
  content: "\e716";
}

.icon-shengchanliangtongji:before {
  content: "\e643";
}

.icon-yuanliaocangfengbao:before {
  content: "\e600";
}

.icon-alarm:before {
  content: "\e871";
}

.icon-baojingjilu:before {
  content: "\e67a";
}

.icon-shiyongjilu:before {
  content: "\e719";
}

.icon-fuliao:before {
  content: "\e6b5";
}

.icon-shengchanjihua:before {
  content: "\e65b";
}

.icon-zhiliangdangan:before {
  content: "\e690";
}

.icon-zhiliangbaobiao:before {
  content: "\e691";
}

.icon-yuanliaoguanli:before {
  content: "\e67b";
}

