{
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 100,
    "semi": false,
    "useTabs": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        }
    ]
}
