@import '@/scss/variables.scss';
@media screen and (min-width: 992px) {
	.login-container {
		max-width: 992px;
	}
}
@media screen and (min-width: 1200px) {
	.login-container {
		max-width: 1200px;
	}
}
@media screen and (min-width: 1600px) {
	.login-container {
		max-width: 1600px;
	}
}

.panda-login {
	min-height: 100%;
	overflow: hidden;
	width: 100%;
	position: relative;
	padding-left: 1rem;
	padding-right: 1rem;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin-left: -48%;
		background-image: url(../../assets/svg/login-bg.svg);
		background-position: 100%;
		background-repeat: no-repeat;
		background-size: auto 100%;
		content: '';
	}

	.login-container {
		width: 100%;
		position: relative;
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-left: auto;
		margin-right: auto;
		height: 100vh;
		padding-left: 4rem;
		padding-right: 4rem;
		.login-left {
			width: 50%;
			display: flex;
			flex-direction: column;
			min-height: 100%;
			margin-right: 1rem;

			.login-title {
				display: flex;
				width: 60%;
				height: 80px;
				position: absolute;
				top: 40px;
				align-items: center;
				padding-left: 7px;
				cursor: pointer;
				transition: all 0.2s ease;

				.login-title-text {
					width: 200px;
					height: 68px;
					font-size: 24px;
					color: #fff;
					font-weight: 700;
					transition: all 0.5s;
					line-height: normal;
					margin-left: 0.5rem;
					img{
						width: 100%;
						height: 100%;
					}
				}
			}

			.login-bg {
				margin-top: auto;
				margin-bottom: auto;
				img {
					width: 50%;
					margin-top: -4rem;
					vertical-align: middle;
					border-style: none;
				}

				.login-slogan {
					margin-top: 2.5rem;
					font-weight: 500;

					span {
						color: #fff;
						margin-top: 1rem;
						font-size: 1.875rem;
						line-height: 2.25rem;
					}
				}
			}
		}
		.login-right{
			width: 50%;
			padding-top: 0px;
			padding-bottom: 0px;
			display: flex;
			height: 100%;
			.login-box{
				margin-left: 4rem;
				padding: 1rem;
			}
		}
	}
}

