$--color-primary: #FE8C01;
$aside-width: 210px;
$header-height: 52px;
$fontColor: #333333;
/* input*/

$--border-color-hover: rgba(254, 140, 1, 0.60);
$--input-small-font-size: 14px;
$--color-text-placeholder: #B5B5B5;
$--border-color-light: #e4e7ed;
//select
$--select-option-hover-background: rgba(254, 140, 1, 0.08);
//button
$--button-small-font-size: 14px;
$--button-small-padding-vertical: 8px;
//分页
$--pagination-button-height: 32px;
$--pagination-font-size: 14px;
//table
$--table-row-hover-background:rgba(254, 140, 1, 0.08);
$--table-border-color: #E4E9F0;