* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
b,
u,
i,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
nav,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.element-container {
	padding: 20px;

	.content-box {
		display: flex;
		flex-wrap: wrap;
		margin: 10px 0;
	}
}

.flex {
	display: flex;
}

.flex-align-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-align {
    display: flex;
    align-items: center;
}


.el-message-box {
	border-radius: 12px;
}

:focus {
	outline: 0;
}

.mt-10 {
	margin-top: 10px;
}

.ml-10 {
	margin-left: 10px;
}

.mr-10 {
	margin-right: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.el-drawer {
	width: 460px !important;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.margin-auto{
	margin: auto
}

.page-container{
	padding: 30px;
	.page-header{
		padding-bottom: 20px;
		border-bottom: 1px solid #eee;
	}
	.page-body{
		padding-top: 20px;
	}
	.page-btn{
		display: flex;
		justify-content: flex-end;
	}
	.page-table{
		margin-top: 20px;
	}
}

